services:
  main:
    image: &image '${IMAGE:-valkey/valkey:9.0}'
    ports:
      - '7001:6379'
    healthcheck: &health_check # Health_check
      test: ['CMD', '${VARIANT:-valkey}-cli', 'ping']
      interval: 5s
      timeout: 10s
      retries: 5
      start_period: 10s

  preconfigured:
    image: *image
    ports:
      - '7002:6379'
    volumes:
      - ${PWD}/test/fixtures/preconfigured.conf:/etc/backend.conf
    command: ['${VARIANT:-valkey}-server', '/etc/backend.conf']
    healthcheck: *health_check

  misconfigured:
    image: *image
    ports:
      - '7003:6379'
    volumes:
      - ${PWD}/test/fixtures/misconfigured.conf:/etc/backend.conf
    command: ['${VARIANT:-valkey}-server', '/etc/backend.conf']
    healthcheck: *health_check
