---
name: Run Tests
on:
  push:
    branches:
      - main
      - v1.x
  pull_request:
  workflow_dispatch:
jobs:
  ci:
    strategy:
      matrix:
        node-version: [22.x, 24.x]
        image: [redis:7.2, redis:8.4, valkey/valkey:8.0, valkey/valkey:9.0]
    name: 'Node.js ${{ matrix.node-version }} / Backend ${{ matrix.image }}'
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      - name: Use supported Node.js Version
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Restore cached dependencies
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306
        with:
          path: ~/.pnpm-store
          key: node-modules-${{ hashFiles('package.json') }}
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Start Redis/Valkey (${{ matrix.image }}) Cluster
        run: docker compose up -d --wait
        env:
          IMAGE: ${{ matrix.image }}
          VARIANT: ${{ startsWith(matrix.image, 'redis') && 'redis' || 'valkey' }}
      - name: Run Tests
        run: 'pnpm run ci'
